@charset "utf-8";
*{margin:0;padding:0;list-style:none;border:0;}
body{width:100%;margin:0 auto;background-size:100%;}

/* main_img */
.img_gallery{height:350px;overflow:hidden;position:relative;width:100%;margin:0 auto;}
.main_img{height:100%;overflow:hidden;position:relative;width:100%;}
.main_img ul{width:100%;height:100%;overflow:hidden;position:absolute;top:150px;left:0;}
.main_img li{float:left;width:100%;height:100%;}
.main_img li span{display:block;width:100%;height:200px;}
.main_img li a{display:block;width:100%;height:100%;}
.main_img li .img_1{background:url('../images/xlba01.png') center top no-repeat;width:100%;}
.main_img li .img_2{background:url('../images/xlba02.png') center top no-repeat;width:100%;}
.main_img li .img_3{background:url('../images/xlba03.jpg') center top no-repeat;width:100%;}
.main_img li .img_4{background:url('../images/xlba03.jpg') center top no-repeat;width:100%;}
.img_font{position:absolute; top:0px; color:#333; width:100%; padding:10px;}
.img_font span{display:none;}

.point{position:absolute;bottom:0px;z-index:999;width:100%;height:21px;left:18%;}
.point a{
	border: 2px solid #f5f5f5;
    border-radius: 50%;
	float:left;width:8px;height:8px;margin:0 20px;padding:0;background:#999;display:block;text-indent:-1000px
}
.point a.on{width:10px;height:10px;width:10px;height:10px;background:#ffac13;}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../images/btn01.jpg) no-repeat left top;left:0%;}
#btn_next{background:url(../images/btn02.jpg) no-repeat right top;right:0%;}


/*1111111*/
.img_gallery1{height:350px;overflow:hidden;position:relative;width:100%;margin:0 auto;}
.main_img1{height:100%;overflow:hidden;position:relative;width:100%;}
.main_img1 ul{width:100%;height:100%;overflow:hidden;position:absolute;top:150px;left:0;}
.main_img1 li{float:left;width:100%;height:100%;}
.main_img1 li span{display:block;width:100%;height:200px;}
.main_img1 li a{display:block;width:100%;height:100%;}
.main_img1 li .img_1{background:url('../images/xlba01.png') center top no-repeat;width:100%;}
.main_img1 li .img_2{background:url('../images/xlba02.png') center top no-repeat;width:100%;}
.main_img1 li .img_3{background:url('../images/xlba03.jpg') center top no-repeat;width:100%;}
.main_img1 li .img_4{background:url('../images/xlba03.jpg') center top no-repeat;width:100%;}
.img_font1{position:absolute; top:0px; color:#333; width:100%; padding:10px;}
.img_font1 span{display:none;}

.point1{position:absolute;bottom:0px;z-index:999;width:100%;height:21px;left:18%;}
.point1 a{
	border: 2px solid #f5f5f5;
    border-radius: 50%;
	float:left;width:8px;height:8px;margin:0 20px;padding:0;background:#999;display:block;text-indent:-1000px
}
.point1 a.on{width:10px;height:10px;width:10px;height:10px;background:#ffac13;}
#btn_prev1,#btn_next1{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev1{background:url(../images/btn01.jpg) no-repeat left top;left:0%;}
#btn_next1{background:url(../images/btn02.jpg) no-repeat right top;right:0%;}

/*222222*/
.img_gallery2{height:350px;overflow:hidden;position:relative;width:100%;margin:0 auto;}
.main_img2{height:100%;overflow:hidden;position:relative;width:100%;}
.main_img2 ul{width:100%;height:100%;overflow:hidden;position:absolute;top:150px;left:0;}
.main_img2 li{float:left;width:100%;height:100%;}
.main_img2 li span{display:block;width:100%;height:200px;}
.main_img2 li a{display:block;width:100%;height:100%;}
.main_img2 li .img_1{background:url('../images/xlba01.png') center top no-repeat;width:100%;}
.main_img2 li .img_2{background:url('../images/xlba02.png') center top no-repeat;width:100%;}
.main_img2 li .img_3{background:url('../images/xlba03.jpg') center top no-repeat;width:100%;}
.img_font2{position:absolute; top:0px; color:#333; width:100%; padding:10px;}
.img_font2 span{display:none;}

.point2{position:absolute;bottom:0px;z-index:999;width:100%;height:21px;left:18%;}
.point2 a{
	border: 2px solid #f5f5f5;
    border-radius: 50%;
	float:left;width:8px;height:8px;margin:0 20px;padding:0;background:#999;display:block;text-indent:-1000px
}
.point2 a.on{width:10px;height:10px;width:10px;height:10px;background:#ffac13;}
#btn_prev2,#btn_next2{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev2{background:url(../images/btn01.jpg) no-repeat left top;left:0%;}
#btn_next2{background:url(../images/btn02.jpg) no-repeat right top;right:0%;}

/*333333333333*/
.img_gallery3{height:350px;overflow:hidden;position:relative;width:100%;margin:0 auto;}
.main_img3{height:100%;overflow:hidden;position:relative;width:100%;}
.main_img3 ul{width:100%;height:100%;overflow:hidden;position:absolute;top:150px;left:0;}
.main_img3 li{float:left;width:100%;height:100%;}
.main_img3 li span{display:block;width:100%;height:200px;}
.main_img3 li a{display:block;width:100%;height:100%;}
.main_img3 li .img_1{background:url('../images/xlba01.png') center top no-repeat;width:100%;}
.main_img3 li .img_2{background:url('../images/xlba02.png') center top no-repeat;width:100%;}
.main_img3 li .img_3{background:url('../images/xlba03.jpg') center top no-repeat;width:100%;}
.img_font3{position:absolute; top:0px; color:#333; width:100%; padding:10px;}
.img_font3 span{display:none;}

.point3{position:absolute;bottom:0px;z-index:999;width:100%;height:21px;left:18%;}
.point3 a{
	border: 2px solid #f5f5f5;
    border-radius: 50%;
	float:left;width:8px;height:8px;margin:0 20px;padding:0;background:#999;display:block;text-indent:-1000px
}
.point3 a.on{width:10px;height:10px;width:10px;height:10px;background:#ffac13;}
#btn_prev3,#btn_next3{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev3{background:url(../images/btn01.jpg) no-repeat left top;left:0%;}
#btn_next3{background:url(../images/btn02.jpg) no-repeat right top;right:0%;}




