*{
			margin:0px;
			padding:0px;
		}
		li{
			list-style-type:none;
		}
		a{
			text-decoration:none;
		}
		a:hover{
			text-decoration:none;
		}
/*导航*/
		.dh{
			background:#333;
			height:40px;
			width:100%;
			margin-bottom:100px;
		}
		.dh-aa{
			width:90%;
			margin:0 auto;
			position:relative;
		}
		.dh-a-a{
			float:left;
			padding-top:12px;
			font-size:14px;
			display:block;
		}
		.dh-a-a a{
			color:#b0b0b0;
		}
		.dh-a-b{
			margin:0px 4px;
		}
		.dh-a-c{
			font-size:12px;
			padding-top:12px;
			display:block;
			float:right;
		}
		.dh-a-c a{
			color:#b0b0b0;
		}
		.dh-a-d{
			float:right;
			display:block;
			height:40px;
			width:120px;
			background:#ff6700;
			margin-left:20px;
			position:relative;
		}
		.dh-a-d a{
			position:absolute;
			top:10px;
			left:35px;
			color:#FFF;
			font-size:14px;
		}
		.dh-a-none{
			background:#FFF;
			box-shadow: 0px 1px 2px;
			position:absolute;
			top:40px;
			right:0;
			width:320px;
			height:170px;
			z-index:999;
		}
	.dh-b{
		position:relative;
		clear:both;
		width:100%;
		height:100px;
	}
	.dh-b-b-div{
		position:absolute;
		z-index:999;
		width:100%;
		background:#FFF;
		padding-left:10%;
		left:-20%;
		top:100px;
		height:230px;
		border-top:1px #666 solid;
	}
	.dh-bb{
		width:90%;
		margin:0px auto;
		padding-top:20px;
	}
	.dh-b-b{
		position:absolute;
		left:15%;
		top:0px;
		font-size: 16px;
	}
	.dh-b-b ul li a:hover{
		color:#ff6700;
	}
	.dh-b-b ul li{
		display:blok;
		float:left;
		margin:0px 10px;
		padding:40px 0px;
	}
			.dh-b-b a{
					color:#333;
				}
	.dh-b-c{
		position:absolute;
		right:6%;
		top:20px;
		width:300px;
		height:50px;
		border:1px solid #e0e0e0;
				}
	.dh-b-input1{
		margin-left:10px;
		border:none;
		font-size:16px;
		height:50px;
		width:70%;
		outline: none;
	}
	.dh-b-input2{
		margin:0px 0px;
		border:1px solid #e0e0e0;
		background:none;
		color:#333;
		height:50px;
		width:25.08%;
		cursor:hand;
				}
	.dh-b-b-div{
		position:absolute;
		z-index:999;
		width:200%;
		background:#FFF;
		padding-left:30%;
		top:100px;
		height:230px;
		border-top:1px #666 solid;
	}
	.dh-b-b-div ul{
		margin:0px 10%;
		padding:10px;
	}
	.dh-b-b-div ul li{
		display:block;
		float:left;
		width:19%;
	}
	.dh-b-b-div img{
		width:70%;
	}
				
/*轮播*/
	.area-ul{
		color:#333;
		position:absolute;
		top:100px;
		left:100px;
		z-index:100;
		height:460px;
		background-color:#FFF;
		width:18%;
		border:1px #ff6700 solid;
	}
	.area-ul-ul{
		width:100%;
		margin:10px 0px;
	}
	.area-ul-ul .area-li{
		color:#333;
		padding:12px;
		font-size:14px;
	}
	.area-ul-ul .area-li:hover{
		background:#FF7F00;
		width:90%;
	}
	.area-ul i{
		float:right;
	}
	.area-div{
		background:#FFF;
		height:458px;
		position:absolute;
		left:100.5%;
		top:1px;
		z-index:1000;
	}
	.area-div ul{
		height:438px;
		background:#FFF;
		padding:10px;
		width:250px;
		margin:0px 20px;
		float:left;
	}
	.area-div-ul{
		position:absolute;
		left:250px;
		width:250px;
	}
	.area-div-ul2{
		position:absolute;
		left:500px;
		width:250px;
	}
	.area-div li{
		color:#333;
		margin-bottom:30px;
		position:relative;;
	}
	.area-div img{
		width:50px;
		height:40px;
	}
	.area-div span{
		position:absolute;
		left:55px;
		top:10px;
	}
/*新品发售*/
		.fudong{
			animation: fudong 0.5s;
			-moz-animation: fudong 0.5s;	/* Firefox */
			-webkit-animation: fudong 0.5s;	/* Safari 和 Chrome */
			-o-animation: fudong 0.5s;	/* Opera */
			
			animation-fill-mode:forwards;
			-moz-animation-fill-mode:forwards;
			-webkit-animation-fill-mode:forwards;
			-webkit-animation-fill-mode:forwards;
		}
		@keyframes fudong
		{
			0%   {}
			100% {box-shadow:0 15px 30px rgba(0,0,0,0.3);transform:translate3d(0,-2px,0);}
		}

		@-moz-keyframes fudong /* Firefox */
		{
			0%   {}
			100% {box-shadow:0 15px 30px rgba(0,0,0,0.3);transform:translate3d(0,-2px,0);}
		}

		@-webkit-keyframes fudong /* Safari 和 Chrome */
		{
			0%   {}
			100% {box-shadow:0 15px 30px rgba(0,0,0,0.3);transform:translate3d(0,-2px,0);}
		}

		@-o-keyframes fudong /* Opera */
		{
			0%   {}
			100% {box-shadow:0 15px 30px rgba(0,0,0,0.3);transform:translate3d(0,-2px,0);}
		}
		
		.qxfudong{
			animation: qxfudong 0.5s;
			-moz-animation: qxfudong 0.5s;	/* Firefox */
			-webkit-animation: qxfudong 0.5s;	/* Safari 和 Chrome */
			-o-animation: qxfudong 0.5s;	/* Opera */
			
			animation-fill-mode:forwards;
			-moz-animation-fill-mode:forwards;
			-webkit-animation-fill-mode:forwards;
			-webkit-animation-fill-mode:forwards;
		}
		@keyframes qxfudong
		{
			0%   {box-shadow:0 15px 30px rgba(0,0,0,0.3);transform:translate3d(0,-2px,0);}
			100% {}
		}

		@-moz-keyframes qxfudong /* Firefox */
		{
			0%   {box-shadow:0 15px 30px rgba(0,0,0,0.3);transform:translate3d(0,-2px,0);}
			100% {}
		}

		@-webkit-keyframes qxfudong /* Safari 和 Chrome */
		{
			0%   {box-shadow:0 15px 30px rgba(0,0,0,0.3);transform:translate3d(0,-2px,0);}
			100% {}
		}

		@-o-keyframes qxfudong /* Opera */
		{
			0%   {box-shadow:0 15px 30px rgba(0,0,0,0.3);transform:translate3d(0,-2px,0);}
			100% {}
		}